<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://js.stripe.com/v3/"></script>
</head>
<body>
    <div class="container">
        <h2>Checkout</h2>
        <form id="checkout-form" action="{% url 'checkout' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="package_type">Package Type</label>
                <select class="form-control" id="package_type" name="package_type" required>
                    <option value="individual_use">Individual Use - $4.99</option>
                    <option value="professional_use">Professional Use - $9.99</option>
                    <option value="master_use">Master Use - $14.99</option>
                    
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Pay</button>
        </form>
    </div>
    <script>
        document.getElementById('checkout-form').addEventListener('submit', function(event) {
            event.preventDefault();
            const email = document.getElementById('email').value;
            const packageType = document.getElementById('package_type').value;
            fetch("{% url 'checkout' %}", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify({
                    email: email,
                    package_type: packageType
                })
            }).then(response => response.json()).then(data => {
                if (data.id) {
                    const stripe = Stripe('{{ stripe_publishable_key }}');
                    stripe.redirectToCheckout({ sessionId: data.id });
                } else {
                    console.error(data.error);
                }
            }).catch(error => {
                console.error('Error:', error);
            });
        });
    </script>
</body>
</html>
